@font-face {
  font-family: "MyFont";

  src: url("Gilroy/Gilroy-ExtraBold.eot");

  src: url("Gilroy/Gilroy-ExtraBold.eot?iefix") format("eot"),
    url("Gilroy/Gilroy-ExtraBold.woff") format("woff"),
    url("Gilroy/Gilroy-ExtraBold.ttf") format("truetype");

  font-weight: bold;

  font-style: normal;
}

@font-face {
  font-family: "MyFont2";

  src: url("Gilroy/Gilroy-Light.eot");

  src: url("Gilroy/Gilroy-Light.eot?iefix") format("eot"),
    url("Gilroy/Gilroy-Light.woff") format("woff"),
    url("Gilroy/Gilroy-Light.ttf") format("truetype");

  font-weight: bold;

  font-style: normal;
}

.featured-product__name {
  font-family: "MyFont";
  font-size: 47px;
}

.featured-product__description {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.characteristic__value {
  font-family: "MyFont2";
  font-size: 36px;
}

.characteristic__name,
.characteristic__name3 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

.more {
  font-family: "MyFont";
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
  position: relative;
  /* padding: 28%; */
}

.more:after {
  z-index: -1;
  /* display: block; */
  content: "";
  position: absolute;
  top: 50%;
  right: -59%;
  width: 220px;
  height: 8px;
  transform: translateY(-50%);
  background-color: #f0c52e;
}

.visually-hidden {
  display: none;
}

.characteristic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-product__characteristics {
  display: flex;
}

.characteristic__value {
  margin-right: 80px;
  margin-top: 52px;
}

.characteristic__name {
  margin-right: 82px;
}

.characteristic__name3 {
  margin-right: 144px;
}

.more {
  margin-right: 250px;
  top: 25px;
}

.featured-product__name {
  margin-right: 90px;
  margin-top: -32px;
  z-index: 1;
}

.featured-product__description {
  margin-top: -20px;
}

.featured-product__name,
.featured-product__characteristics,
.more,
.more:after,
.featured-product__description {
  margin-left: 480px;
}

.featured-product img {
  position: relative;
  margin-left: 200px;
  margin-top: -440px;
  z-index: 2;
}

ol li {
  list-style: none;
}

.featured-slider__buttons {
  display: flex;
  justify-content: flex-end;
}

.featured-slider__button {
  position: relative;
  margin-top: -203px;
  right: 250px;
}
