@font-face {
  font-family: "MyFont";

  src: url("Gilroy/Gilroy-ExtraBold.eot");

  src: url("Gilroy/Gilroy-ExtraBold.eot?iefix") format("eot"),
    url("Gilroy/Gilroy-ExtraBold.woff") format("woff"),
    url("Gilroy/Gilroy-ExtraBold.ttf") format("truetype");

  font-weight: bold;

  font-style: normal;
}

.home-page-services h2 {
  display: none;
}

.home-page-services p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.home-page-services h3 {
  font-family: "MyFont";
  font-size: 47px;
}

.home-page-services button {
  z-index: 1;
  font-family: "MyFont";
  font-size: 18px;
  margin-top: 100px;
  border: none;
  position: relative;
}

ul li {
  list-style: none;
}

.img2,
.img3,
.p2,
.p3,
.h3-2,
.h3-3 {
  display: none;
}

.service-list {
  display: flex;
  flex-direction: column;
}

.home-page-services .btn-1:after {
  z-index: -1;
  /* display: block; */
  content: "";
  position: absolute;
  top: 50%;
  right: -25%;
  width: 160px;
  height: 8px;
  transform: translateY(-50%);
  background-color: #f0c52e;
}

.home-page-services .btn-2:after {
  z-index: -1;
  /* display: block; */
  content: "";
  position: absolute;
  top: 50%;
  right: -33%;
  width: 160px;
  height: 8px;
  transform: translateY(-50%);
  background-color: #f0c52e;
}

.home-page-services .btn-3:after {
  z-index: -1;
  /* display: block; */
  content: "";
  position: absolute;
  top: 50%;
  right: -54%;
  width: 160px;
  height: 8px;
  transform: translateY(-50%);
  background-color: #f0c52e;
}
