.home-page-header .container {
  background-color: #f7e296;
  position: relative;
  padding: 56px 60px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.home-page-header__logo {
  position: absolute;
  left: 60px;
  top: -18px;
}

.home-page-header__user-navigation {
  display: flex;
  justify-content: space-between;
}

.home-page-header__user-navigation input {
  margin-right: 239px;
  font-family: "Open Sans", sans-serif;
}

.join {
  margin-right: auto;
}

.home-page-header__user-navigation .second-child {
  margin-left: 300px;
}
.home-page-header__user-navigation .third-child {
  margin-left: 41px;
}
.home-page-header__user-navigation .navigation-wrapper,
.home-page-header__main-navigation .navigation-wrapper {
  width: 50%;
}

.home-page-header__main-navigation {
  display: flex;
}

.home-page-header__main-navigation .catalog {
  margin-right: auto;
}

.home-page-header__main-navigation .catalog-list {
  display: none;
}

.home-page-header__user-navigation .navigation-wrapper {
  font-family: "Open Sans", sans-serif;
}

.home-page-header__main-navigation {
  margin-top: 60px;
}

.home-page-header__main-navigation .first-child {
  margin-left: auto;
}

.home-page-header__main-navigation .second-child {
  margin-left: 48px;
}

.home-page-header__main-navigation .third-child {
  margin-left: 228px;
}

.home-page-header__user-navigation a {
  text-decoration: none;
  color: #000;
}

.home-page-header__main-navigation a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-family: "Gilroy";
  src: url("Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url("Gilroy/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy/Gilroy-ExtraBold.woff") format("woff"),
    url("Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
